<div class="contenedor">
    <app-sidebar></app-sidebar>

    <main class="contenido">
      <h1>BIENVENIDO A LA PLATAFORMA DE GESTIÓN DE PRONTOMUEBLE</h1>
      <hr>
      <p>
        Explora nuestros módulos para comenzar a gestionar los diferentes aspectos de la plataforma. Cada módulo está
        diseñado para proporcionar una gestión eficiente de cada área.
      </p>

      <div class="notificacion">
        <strong>Nuevo módulo disponible</strong>
        <p>Estamos emocionados de anunciar el lanzamiento de nuestro nuevo módulo de análisis de datos.</p>
      </div>

      <h2>Módulos disponibles</h2>
      <ul>
        <li><strong>Módulo de Finanzas</strong> - Gestiona tus presupuestos, gastos e ingresos.</li>
        <li><strong>Módulo de Inventario</strong> - Maneja y rastrea los artículos en stock.</li>
      </ul>
    </main>
  </div>
