<header>
  <h1>Prontomueble</h1>
  <h2>Ventas</h2>
</header>


<div class="container">
    <h2>Registrar Venta</h2>

    <form >
        <!-- Fecha -->
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha"  name="fecha" required>

        <!-- Total -->
        <label for="total">Total ($):</label>
        <input type="number" step="0.01" id="total" name="total" required>

        <!-- Método de Pago -->
        <label for="metodoPago">Método de Pago:</label>
        <select id="metodoPago"  name="metodoPago" required>
            <option value="Efectivo">Efectivo</option>
            <option value="Tarjeta de Crédito">Tarjeta de Crédito</option>
            <option value="Transferencia Bancaria">Transferencia Bancaria</option>
        </select>

        <!-- Código Cliente (Lista Desplegable) -->
        <label for="codigoCliente">Código Cliente:</label>
        <select id="codigoCliente"  name="codigoCliente" required>
            <option *ngFor="let cliente of clientes" [value]="cliente.codigoCliente">
                {{ cliente.codigoCliente }} - {{ cliente.nombre }}
            </option>
        </select>

        <!-- Código Mueble (Lista Desplegable) -->
        <label for="codigoMueble">Código Mueble:</label>
        <select id="codigoMueble" name="codigoMueble" required>
            <option *ngFor="let mueble of muebles" [value]="mueble.idMueble">
                {{ mueble.idMueble }} - {{ mueble.tipo }} ({{ mueble.color }})
            </option>
        </select>
        <label for="codigoEmpleado">Código Empleado:</label>
        <select id="codigoEmpleado" name="codigoEmpleado" required>
            <option ></option>
        </select>

        <button type="submit">Guardar Venta</button>
    </form>
</div>
