<header>
  <h1>Prontoventa</h1>
  <h2> Gestión de ventas</h2>
</header>

<div class="contenedor-btn">
  <button type="button" class="btn-agregar" (click)="abrirFormulario()">Registrar venta</button>
</div>

 <table>
  <thead>
    <tr>

      <th>Cantidad</th>
      <th>Fecha</th>
      <th>Valor</th>
      <th>Documento Empleado</th>
      <th>Documento Cliente</th>
      <th>Código Pago</th>
      <th>ID venta</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let venta of ventas; trackBy: trackById">
      <td>{{ venta.cantidad }}</td>
      <td>{{ venta.fecha | date }}</td>
      <td>{{ venta.valor | currency }}</td>
      <td>{{ venta.documento_empl_fk }}</td>
      <td>{{ venta.documento_cli_fk }}</td>
      <td>{{ venta.codigopago_fk }}</td>
      <td>{{ venta.idventa_fk }}</td>
      <td>
        <button type="button" (click)="editarventa(venta)">Editar</button>
        <button type="button" (click)="eliminarventa(venta)" class="eliminar">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>


<div class="modal-venta" *ngIf="mostrarFormulario">
  <div class="venta-form">
    <h2>{{ editando ? 'Editar venta' : 'Agregar venta' }}</h2>
    <form (ngSubmit)="guardarventa()">
      <div class="form-grid">
        <div class="form-group">
          <label for="cantidad">Cantidad:</label>
          <input type="text" id="cantidad" [(ngModel)]="ventaForm.cantidad" name="cantidad" required />
        </div>

        <div class="form-group">
          <label for="fecha">fecha:</label>
          <input type="text" id="fecha" [(ngModel)]="ventaForm.fecha" name="fecha" required />
        </div>

        <div class="form-group">
          <label for="valor">valor:</label>
          <input type="number" id="valor" [(ngModel)]="ventaForm.valor" name="valor" required />
        </div>

        <div class="form-group">
          <label for="empleado">empleado:</label>
          <input type="text" id="empleado" [(ngModel)]="ventaForm.empleado" name="empleado" required />
        </div>

        <div class="form-group">
          <label for="cliente">cliente:</label>
          <input type="text" id="cliente" [(ngModel)]="ventaForm.cliente" name="cliente" required />
        </div>

      </div>

      <div class="form-actions">
        <button type="submit">{{ editando ? 'Actualizar' : 'Guardar' }}</button>
        <button type="button" (click)="cerrarFormulario()">Cancelar</button>
      </div>
    </form>
  </div>
</div>


