.report-container {
  max-width: 1000px;
    margin: 20px auto;

    button{
      height: 2rem;
    }

    section{
        margin-bottom: 20px;
        background-color: #f8f9fa;
        padding: 1rem;
        .list{
           display: flex;
           justify-content: space-between;
           align-items: baseline;
        };
        ul{
            list-style: none;
            padding: 2rem;
            li{
                display: flex;
                justify-content: space-between;
                margin-bottom: 0.5rem;
            }
        }

    }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem auto;
  max-width: 1000px;
}

thead {
  background-color: #f8f9fa;
}

th,
td {
  padding: 0.75rem;
  border: 1px solid #dee2e6;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.date{
  max-width: 1000px;
  margin: 10px auto;
  padding: 1rem;
}

input, select {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 0;
}
