<header>
  <h1>Prontomueble</h1>
  <h2>Generación de reportes mensuales</h2>
</header>

<div class="report-container">


  <section class="top-seller">
    <h2>Vendedor con más Ventas</h2>
    <p>{{ topSeller.name }} - {{ topSeller.sales }} ventas</p>
  </section>

  <section class="new-customers">
    <h2>Clientes Nuevos</h2>
    <ul>
      <li *ngFor="let customer of newCustomers">{{ customer.name }} - {{ customer.registrationDate }}</li>
    </ul>
  </section>

  <section class="top-customers">
    <h2>Clientes con Mayores Compras</h2>
    <ul>
      <li *ngFor="let customer of topCustomers">{{ customer.name }} - ${{ customer.totalSpent }}</li>
    </ul>
  </section>

  <section class="top-selling-furniture">
    <h2>Los Muebles Más Vendidos</h2>
    <ul>
      <li *ngFor="let furniture of topSellingFurniture">{{ furniture.name }} - {{ furniture.unitsSold }} unidades</li>
    </ul>
  </section>
</div>

